* {
  margin: 0;
  padding: 0;
}


        body {
            font-family: Arial, sans-serif;
        }

        .hero {
            background: #007BFF;
            color: #fff;
            text-align: center;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .hero h1 {
            font-size: 36px;
        }

        .btn-container {
            margin-top: 20px;
        }

        .btn {
            display: inline-block;
            background: #fff;
            color: #007BFF;
            padding: 10px 20px;
            text-decoration: none;
            margin: 10px;
            border-radius: 5px;
            cursor: pointer;
            outline: none;
            border: none;
        }

        .btn:hover {
            background: #070707;
            color: #fff;
        }